<div style="max-width:800px;" class="container">
    <div class="jumbotron" style="display: flex;flex-direction: column;padding-top: 10px;">
        <div class="welcome-text">
            Hello User!            
        </div>
        <div class="welcome-actions">
                <div class="welcome-login">
                    <i style="font-size: 120px; margin-bottom: 20px;" class="fas fa-sign-in-alt"></i>
                    <h4>Already registered on <br> Faceword </h4> <br> <br>
                    <p class="lead">
                        <a style="margin-top: auto;" class="btn btn-primary btn-lg" href="#!/login" role="button">Login</a>
                    </p>
                </div>
                <div class="welcome-register">
                    <i style="font-size: 100px; margin-bottom: 20px;" class="fas fa-user-plus"></i>
                    <br><h4> New Users <br> register here</h4> <br> <br>
                    <p class="lead">
                        <a style="margin-top: auto;" class="btn btn-primary btn-lg" style="margin-left: 20px;" href="#!/register" role="button">Register</a>
                    </p>
                </div>
            </div>
        <div class="welcome-tabs" style="margin-top: 100px; border-top: solid 1px #eee; padding-top: 10px;">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href="#description">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#code">Code</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#team">Team</a>
                </li>
            </ul>
            <div id="welcomeTabContent" class="tab-content">
                <div class="tab-pane show active" id="description">
                    <p>
                        A web application that allows users to login to their accounts through face ID. If a user is not
                        registered already, the application takes samples of the user’s face and registers a new facial
                        ID
                        for easy login the next time user comes onto the application.
                    </p>
                </div>
                <div class="tab-pane show" id="code">
                    <p style="display: flex; flex-direction: row; justify-content: center;">
                        <span class="code-badge badge badge-danger">AngularJS</span>
                        <span class="code-badge badge badge-secondary">NodeJS</span>
                        <span class="code-badge badge badge-success">Python</span>
                        <span class="code-badge badge badge-info">Torch</span>
                        <span class="code-badge badge badge-warning">OpenCV</span>
                        <!-- <span class="code-badge badge badge-info">Info</span>
                        <span class="code-badge badge badge-light">Light</span>
                        <span class="code-badge badge badge-dark">Dark</span> -->
                    </p>
                </div>
                <div class="tab-pane show" id="team">
                    <p>
                        Team 19 :<br>
                        <ul>
                            <li>Alexander Jensen</li>
                            <li>Andrew Dwinal</li>
                            <li>Rishab Kumar Bakshi</li>
                        </ul>

                    </p>
                </div>
            </div>
        </div>

    </div>



</div>